@use "@/styles/abstracts" as *;

.section {
  @include flex(column, flex-start, stretch, spacer(3));
  width: 100%;
  max-width: max-w(global);
  padding-top: spacer(6);
  border-top: 1px solid color(grey-2);

  > p {
    margin: 0;
    color: color(black);
    @include type-item(body);
  }
}

.title {
  margin: 0;
  color: color(black);
  font-size: 2.2rem;
  font-weight: font-weight(bold);
}
