@use "@/styles/abstracts" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: spacer(6);
  margin: spacer(5) 0 spacer(6);

  @include breakpoint-max(medium) {
    grid-template-columns: 1fr;
  }
}
