@use "@/styles/abstracts" as *;

.mapPopup {
  max-width: 400px !important;

  .inner {
  }

  .values {
    display: flex;
    gap: spacer(4);
    margin-bottom: spacer(2);
    justify-content: center;
    align-items: center;
  }

  .value {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .description {
    margin-bottom: spacer(4);
    width: 100%;
    text-align: center;
  }
}
