.mapPopup {
  max-width: 400px !important;

  .inner {
  }

  .values {
    display: flex;
    gap: 15px;
    margin-bottom: 7px;
    justify-content: center;
    align-items: center;
  }

  .value {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .description {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }
}
