@use "@/styles/abstracts" as *;

.container {
  padding: spacer(7);
}

.packagesGrid {
  margin: spacer(4) 0;
  display: flex;
  justify-content: flex-start;
  gap: spacer(7);
}

.package {
  width: 50%;
}

.packageName {
  // Package title styling
}

.packageSettings {
  list-style-type: none;
  margin: 25px 0;

  li {
    p {
      display: inline-block;
    }
  }
}

.packageContents {
  padding-top: spacer(5);

  .lds-spinner {
    width: 80px;
    height: 80px;
    margin-top: -180px;
  }
}

.loadingScreen {
  display: grid;
  height: 100vh;
  flex-direction: column;
}

.variablesGroup {
  svg {
    width: 25px;
    height: 25px;
    margin-left: 0;
    margin-bottom: -1px;
  }
}
