@use "@/styles/abstracts" as *;

.footer {
  color: #fff;
  background-color: #000;
  height: 419px;
  padding: spacer(13) spacer(14);
  @include flex(row);

  @include breakpoint-max(large) {
    @include flex(column);
    height: auto;
    padding: spacer(11) spacer(5);
    text-align: center;
  }

  ul {
    list-style: none;
    padding-left: spacer(4);

    @include breakpoint-max(large) {
      padding: 0;
    }
  }

  .left {
    border-right: 1px solid white;
    padding-right: spacer(13);
    flex-basis: 50%;
    position: relative;

    @include breakpoint-max(large) {
      flex-basis: none;
      border-right: 0;
      padding: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: -90px; // stretch upward
      bottom: -90px; // stretch downward
      left: 100%;
      width: 1px;
      background-color: white;
      z-index: z(1);

      @include breakpoint-max(large) {
        display: none;
      }
    }

    .logos {
      @include flex(row, center, center, spacer(5));
      padding: spacer(5) 0;

      @include breakpoint-max(large) {
        @include flex(row, center, center, spacer(5), wrap);
        padding: spacer(8) 0;
      }
    }
  }

  .right {
    @include flex(column, $gap: spacer(4));
    flex-basis: 50%;
    padding-left: spacer(13);
    font-size: 16px !important;

    @include breakpoint-max(large) {
      flex-basis: none;
      padding: 0;
    }
  }
}
