@use "@/styles/abstracts" as *;

.toolPageLayout {
  @include flex(column, flex-start, stretch, spacer(6));

  .title {
    @include type-item(heading-3);
    margin: 0;
    width: 100%;
    color: css-var("color-black");
  }

  .inner {
    @include flex(column, flex-start, stretch, spacer(8));
    width: 100%;
    min-width: 0;
  }
}
