.packages-grid {
  margin: 16px 0;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  & > .package {
    width: 50%;
  }
}

.package {
  &__settings {
    list-style-type: none;
    margin: 25px 0;

    li {
      p {
        display: inline-block;
      }
    }
  }
}

.package-contents {
  padding-top: 20px;

  .lds-spinner {
    width: 80px;
    height: 80px;
    margin-top: -180px;
  }
}

.loading-screen {
  display: grid;
  height: 100vh;
  flex-direction: column;
}

.variables-group {
  svg {
    width: 17px;
    height: 25px;
    width: 25px;
    margin-left: 0;
    margin-bottom: -1px;
  }
}
