.map {
  &-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    #map {
      width: 100%;
      cursor: pointer;
    }

    &__legend {
      position: absolute;
      top: 60px;
      left: 10px;
      display: flex;
      align-items: center;
      height: 36px;
      background-color: white;
      padding: 6px 10px 4px 10px;
      border-radius: 4px;
      box-shadow: none;
      font-size: 0.875rem;

      &-color-box {
        width: 16px;
        height: 16px;
        background-color: rgba(118, 150, 190, 0.8);
        margin-right: 10px;
      }
    }
  }
}

.inline-tooltip {
  margin-left: 6px;
  margin-top: 4px;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  // so geocoder component has same styling as no-data legend
  width: 275px !important;
  box-shadow: none !important;
}

.mapboxgl-ctrl-geocoder--input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 8px;
}

.mapboxgl-popup.map-popup {
  .mapboxgl-popup-content {
    background-color: white;
    border: 0;
    border-radius: 12px;
    padding: 16px 40px;
    box-shadow: none;
  }

  .mapboxgl-popup-tip {
    border-top-color: white;
  }
}

.map-popup {
  max-width: 400px !important;

  .values {
    display: flex;
    gap: 15px;
    margin-bottom: 7px;
    justify-content: center;
    align-items: center;
  }
  .value {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    width: 100%;
    text-align: center;
  }
  .description {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }
}
