.renewables-tool {
  max-width: 1200px;

  &__intro {
    margin: 0 16px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__heatmap {
    transition: width 1s ease;
  }

  &__map {
    width: 100%;
  }

  .loading-screen,
  .invalid-point-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .loading-screen {
    height: 300px;
  }

  .invalid-point-screen {
    margin-top: 0;
  }

  .alerts {
    margin-left: 103px;
    margin-right: 14px;
  }

  .map-tooltip {
    position: absolute;
    background-color: white;
    border-radius: 16px;
    color: black;
    padding: 5px;
    margin-left: 15px;
    transform: translateY(-50%);
    z-index: 1000;

    &:after {
      content: "";
      position: absolute;
      border-width: 5px;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
      border-color: transparent black transparent transparent;
    }
  }

  .custom-accordion-details {
    display: block !important; /* Override MUI's default behavior */
    padding-top: 0px;
    z-index: 1;
  }

  .rotated-icon {
    transform: rotate(90deg);
  }
}

.flex-params {
  display: flex;
  gap: 40px;
  margin: 0 0 35px 0;
  justify-content: flex-end;
}
