/* ==============================================================
*
* Variables
*
* ============================================================== */
$break-xs: 384px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1400px;

/* --------------------------------------------
* --Layout
* -------------------------------------------- */


/* --------------------------------------------
* --Colors
* -------------------------------------------- */
$background-paper: #FBFBFB;
$secondary: #333538;
$primary: #E8F4FB;
$secondary-grey-dark: #A0A5AC;
$primary-blue: #4C8EB4;


/* --------------------------------------------
* -- Fonts
* -------------------------------------------- */

/* --------------------------------------------
* -- Media queries
* -------------------------------------------- */
