/* --------------------------------------------
 * Breakpoints
 * -------------------------------------------- */

$break-xs: 384px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1400px;

/* --------------------------------------------
 * Colors
 * -------------------------------------------- */

$background-paper: #fbfbfb;
$secondary: #333538;
$primary: #e8f4fb;
$secondary-grey-dark: #a0a5ac;
$primary-blue: #4c8eb4;
