/* --------------------------------------------
 * Colors
 * -------------------------------------------- */

$background-paper: #fbfbfb;
$secondary: #333538;
$primary: #e8f4fb;
$secondary-grey-dark: #a0a5ac;
$primary-blue: #4c8eb4;
