@use "@/styles/abstracts" as *;

.mapPopup {
  max-width: min(400px, calc(100vw - 32px)) !important;

  .values {
    @include flex(row, center, center, spacer(4));
    margin-bottom: spacer(2);
  }

  .value {
    @include flex(column, flex-start, center);
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .description {
    margin-bottom: spacer(4);
    width: 100%;
    text-align: center;
  }
}
