@use "@/styles/abstracts" as *;

.imageText {
  display: flex;
  padding: 0 spacer(13);

  @include breakpoint-max(large) {
    justify-content: center;
    flex-direction: column;
    padding: 0 spacer(5);
    gap: spacer(6);
  }

  .image {
    position: relative;
    width: 100%;
    flex: 50%;
    height: 296px;
    overflow: hidden;

    @include breakpoint-max(large) {
      flex: none;
      padding: 0;
      overflow: auto;
    }
  }

  .content {
    text-align: right;
    align-items: flex-end;
    flex: 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: spacer(7);
    gap: spacer(3);

    @include breakpoint-max(large) {
      align-items: center;
      flex: none;
      text-align: center;
      padding: 0;
    }
  }
}
