@use "sass:color";

@use "@/styles/abstracts" as *;

.card {
  @include focus-ring;
  @include transition(all);
  @include flex(column, center, center, spacer(5));
  height: 450px;
  width: 400px;
  background-size: cover;
  text-align: center;
  color: #fff;
  border-radius: rounded(4);
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  padding: 0 spacer(7);
  cursor: pointer;
  text-decoration: none;

  @include breakpoint-max(large) {
    width: auto;
  }

  &:hover,
  &:focus-visible {
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    border-radius: rounded(4);

    button {
      background-color: color.scale($primary-blue, $lightness: -20%);
    }
  }

  .title {
    margin-top: spacer(13);
    text-transform: uppercase;
  }

  .description {
    @include type-item(body-2);
    margin-bottom: spacer(5);
  }
}
