@use "@/styles/abstracts" as *;

.citationBox {
  width: 100%;
  max-width: max-w(global);
  padding-top: spacer(4);
  border-top: 1px solid color(grey-2);
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: spacer(3);
  margin-bottom: spacer(2);
  color: color(grey-4);
  @include type-item(small);
}

.text {
  margin: 0;
  color: color(grey-5);
  @include type-item(body);
}
