@use "@/styles/abstracts" as *;

.link {
  @include focus-ring;
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
  border: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    border-radius: rounded(1);
  }
}
