@use "@/styles/abstracts" as *;

.mobileView {
  background-image: url("../../../public/img/photos/ocean-thumbnail.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    height: 90%;
    width: 90%;
    background-color: $background-paper;
    padding: spacer(9);
    display: flex;
    gap: spacer(9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
}
