@use "@/styles/abstracts" as *;

.pageLayout {
  @include flex(column, flex-start, stretch, spacer(6));

  .title {
    @include type-item(heading-3);
    margin: 0;
    width: 100%;
    color: css-var("color-black");
  }

  .betaBadge {
    vertical-align: 33%;
    margin-left: spacer(3);
  }

  .betaAlert {
    width: 100%;
    max-width: max-w(global);
  }

  .inner {
    @include flex(column, flex-start, stretch, spacer(8));
    width: 100%;
    min-width: 0;
  }
}
