@use "@/styles/abstracts" as *;

.list {
  @include flex(column, flex-start, stretch, spacer(2));
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    @include type-item(body);
    color: color(blue-4);
    text-decoration: none;

    &:hover {
      color: color(blue-5);
    }
  }
}
