@use "../abstracts" as *;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Variable.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic-Variable.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li,
code,
div,
input,
textarea,
label,
select,
button {
  @include type-item(body);
  text-wrap: pretty;
}

b,
strong {
  font-weight: font-weight(bold);
}

a,
button {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

h1,
.h1,
.heading-1 {
  @include type-item(heading-1);
}

h2,
.h2,
.heading-2 {
  @include type-item(heading-2);
}

h3,
.h3,
.heading-3 {
  @include type-item(heading-3);
}

h4,
.h4,
.heading-4 {
  @include type-item(heading-4);
}

h5,
.h5,
.heading-5 {
  @include type-item(heading-5);
}

h6,
.h6,
.heading-6 {
  @include type-item(heading-6);
}

p,
.p,
.body {
  @include type-item(body);
}

code,
.code {
  @include type-item(code);
}
